* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

/* top part first part*/

.top_part {
    background: url(./images/Background.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 151px;
}

.icon {
    margin: 50px 0 0 0;
}

.nav {
    margin: 50px 0 0 0;
    display: flex;
}

.nav_item {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
    margin: 0 49px 0 0;
    font-weight: 600;
    transition: .2s;
}

.active {
    color: black;
}


.nav_item:hover {
    color: rgb(0, 0, 0);
}

.sign-up_button {
    margin: 50px 0 0 0;
    background-color: #0DBBBF;
    border: 1px solid white;
    color: white;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    transition: .2s;
}

.sign-up_button:hover {
    background-color: black;
}

/* top part second part*/

.maincontent {
    display: flex;
}

.buttons-and-text {
    display: flex;
    flex-direction: column
}

.container_main-text_top-part {
    max-width: 650px;
}

.main-text {
    color: white;
    font-size: 55pt;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

.container_subtitle-text_top-part {
    max-width: 580px;
}

.subtitle-text {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 18pt 0 42px 0;
    line-height: 1.5;
    font-weight: 400;
}

.buttons {
    margin-top: 15px;
}

.buy-now_button {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    background-color: #061E37;
    font-family: 'Raleway', sans-serif;
    margin: 20px 30px 0 0;
    padding: 23px 43px 22px 43px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: 400;
    transition: .3s;
}

.buy-now_button:hover {

}

.try-for-free_button {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    margin: 20px 0 0 0;
    padding: 23px 26px 22px 33px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: 400;
    transition: .3s;
}

.try-for-free_button:hover {

}

.photo {
    width: 634px;
    height: 354px;
    background: url(./images/video.png);
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_button {
    transition: .3s;
}

.play_button:hover {

}

/* easy & useful first part*/

.easy_useful {
    font-family: 'Raleway', sans-serif;
}

.container_main-part_easy-useful {
    display: flex;
    justify-content: center;
}


.main-part_easy-useful {
    text-align: center;
    width: 570px;
}

.secondary-part_easy-useful {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.main-text_main-part_easy-useful {
    font-size: 45px;
    margin: 100px 0 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.secondary-text_main-part_easy-useful {
    font-size: 25px;
    color: #C1CDD2;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

}


.third-text_main-part_easy-useful {
    font-size: 15px;
    color: #B0BEC5;
    margin-bottom: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.secondary-part_easy-useful_img {
    margin-bottom: 45px;
}

.main-text_secondary-part_easy-useful {
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.man-img {
    margin-bottom: 33px;
}

.calendar-part_secondary-part_easy-useful {}

.man-part_secondary-part_easy-useful {}

.fireman-part_secondary-part_easy-useful {}

.subtitle-text_secondary-part_easy-useful {
    font-size: 15px;
    color: #78909C;
    font-weight: 400px;
    width: 350px;
}

.easy-useful_button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 28px 20px 28px;
    color: white;
    background-color: #1DE9B6;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin: 81px 0 100px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18);
    font-weight: 800;
    transition: .3s;
}

.easy-useful_button:hover {

}

.button-container {
    display: flex;
    justify-content: center;
}

/* Customers */

.customers-part {
    background: url(./images/background2.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 564px;
    padding-top: 105px;
}

.main_text-part_customers-part {}

.main_text-part_customers-part_title {
    font-size: 45px;
    color: white;
    font-weight: 600;
    width: 500px;
    margin-bottom: 19px;
}

.main_text-part_customers-part_subtitle {
    font-size: 15px;
    color: white;
    width: 520px;
    height: 39px;
    font-weight: 400;
}

.main_text-part_customers-part_button {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #061E37;
    padding: 20px;
    font-size: 15px;
    margin-top: 77px;
    transition: .3s;
}

.main_text-part_customers-part_button:hover {

}

.inteviews-part_customers-part {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.interviews-part_customers-part_avatar-john {}

.interviews-part_customers-part_title {
    color: #061E37;
    font-weight: 800;
}

.interviews-part_customers-part_subtitle {}

.interviews-part_customers-part_avatar-khalessi {}

.interviews-part_customers-part_title {}

.interviews-part_customers-part_subtitle {
    width: 600px;
}

.inteviews-part_customers-part_item {
    color: #78909C;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    margin-bottom: 67px;
}

.main_customers-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inteviews-part_customers-part_item_only-text {
    background-color: white;
    padding: 33px 64px 30px 32px;
    border-radius: 4px;
}

.interviews-part_customers-part_avatar {
    width: 60px;
    height: 60px;
    margin-right: 35px;
}

.customers-part_second-part {}

.container_interviews-part_customers-part_avatar {
    display: flex;
    align-items: center;
}

.customers-part_arrow_container {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.customers-part_arrow {

}

/* our team */

.our-team {
    text-align: center;
}


.main-part_our-team {}

.second-part_our-team {}

.main-part_our-team_title {
    font-size: 45px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 29px;
}

.main-part_our-team_subtitle {
    width: 555px;
    font-size: 15px;
    color: #B0BEC5;
    margin-bottom: 98px;
}

.second-part_our-team_subtitle {
    width: 555px;
    font-size: 15px;
    color: #B0BEC5;
    margin-bottom: 29px;
}

.second-part_our-team_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.third-part_our-team_link {
    text-decoration: none;
}

.our-team_container {
    
}

.third-part_our-team_item {
    margin: 10px;
}

.third-part_our-team {
    text-decoration: none;
    margin-bottom: 88px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-part_our-team_subtitle_container {
    display: flex;
    justify-content: center;
}

.third-part_our-team_list{
    list-style: none;
}


/* Services */

.lightblue{
    background: url(./images/RectangleBlue.png);
    width: 100%;
}

.blue_services{
    background: url(./images/darkblue.png);
    width: 100%;
}

.purple_services{
    background: url(./images/purple.png);
    width: 100%;
}

.pink_services{
    background: url(./images/pink.png);
    width: 100%;
}

.container-items_services{
    display: flex; 
    flex-direction: row; 
}

.container-items_services_item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 45px 56px 45px;
}

.container-items_services_item_text{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.container-items_services_item_img{
    margin-right: 24px;
}

.second_container-items_services_item_text{
    width: 100px;
}

.different_services{
    width: 150px;
}

.second-part_services{
    text-align: center;
    margin-top: 100px;
}

.second-part_services_main-text{
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 16px;
}

.second-part_services_subtitle-text{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #B0BEC5;
    margin-bottom: 47px;
}


.third-part_services{

}


.third-part_services_second-part{
    padding: 25px 17px 24px 26px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    width: 800px;
    border-radius: 2px;
}

.third-part_services_img{
    width: 18px;
    height: 11px;
}

.third-part_services_main-text{
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 25px 11px;
    color: #061e37;
}

.container_third-part_services_second-part{
    display: flex;
    justify-content: center;
}

.third-part_services_container-for-text-and-img{
    width: 200px;
    display: flex;
    flex-direction: row;
}

.third-part_services_second-part_main-content{
    display: flex;
}

.third-part_services_second-part_text-content{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-left: 26px;
    font-weight: 400;
}

.third-part_services_second-part_text-content_first_text{
    margin-bottom: 42px;
}

.third-part_services_second_img{
    width: 11px;
    height: 6px;
    margin:0 0 0 450px;
}

.container_third-part_services{
    max-width: 750px;
}



/* Form */

.form {
    width: 100%;
}

.form_first-part {

}

.form_container {
    display: flex;
    justify-content: center;
}

.form_first-part_container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.form_first-part_title {
    font-size: 45px;
    font-weight: 600;
    margin-top: 50px;
}

.form_first-part_subtitle {
    font-size: 15px;
    margin-top: 20px;
}

.form_first-part_subtitle_container {
    width: 570px;
}

.form_second-part {
    margin-top: 25px;
}

.input-form {
    margin: 18px 39px 18px 0;
    display: flex;
    align-items: center;
}

.input_form_item {
    width: 280px;
    height: 50px;
    resize: none;
    text-align: left;
    border-radius: 5px;
    font-weight: 600;
    color: 061e37;
    transition: .3s;
}

.input_form_item:hover {

}

.input_form_item_main {
    width: 600px;
    height: 150px;
    resize: none;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid black;
}

.input_form_item_main:hover {

}

.form_second-part_container {
    display: flex;
    justify-content: center;
}

.checkbox-form {
    display: flex;
    flex-direction: row;
    margin-top: 38px;
    align-items: center;
}

.form_checkbox-form_checkbox {
    margin-right: 8px;
    transform: .1s;
}

.form_checkbox-form_checkbox {
    border: black;
}

.form_checkbox-form_text {
    font-size: 15px;

}

.form_send-button {
    margin-top: 38px;
    background-color: #1DE9B6;
    text-decoration: none;
    color: white;
    padding: 18px 43px 18px 43px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18);
    transition: .3s;
}

.form_send-button:hover {

}

.input-form_container {
    display: flex;
    flex-direction: row;
    max-width: 602px;
}

.containertwo {
    max-width: 602px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.form_third-part {
    display: flex;
    justify-content: space-between;
}

.contact-us {
    background-color: #FAFAFA;
    height: 661px;
}

.input_form_item::placeholder { 
    padding-left: 20px; 
    line-height: 50px; 
}

.input_form_item_main::placeholder {
    padding-left: 20px; 
    line-height: 50px;  
}

/* Footer */

.footer {
    background-color: #061e37;
    text-decoration: none;
}

.footer_first-part {
    display: flex;
    justify-content: space-between;
}

.footer_first-part_img {
    margin-top: 100px;
}

.footer_first-nav {
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

.footer_second-part {
    display: flex;
    justify-content: space-between;
}

.footer_second-nav {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    padding-top: 54px;
}

.footer_second-nav_item {
    font-weight: 400;
    margin: 0 50px 100px 0;
    text-decoration: none;
    color: #838f9b;
    transition: .3s;
}

.footer_second-nav_item:hover{
    color: rgb(255, 255, 255);
}

.footer_first-nav_item {
    margin: 105px 0 0 50px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    transition: .3s;
}

.footer_first-nav_item:hover{
    color: #1DE9B6;
}

.footer_second-part_img {
    width: 172px;
    height: 18px;
    margin-top: 54px;
}

.footer_links {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_links_link {
    text-decoration: none;
}

.footer_links_link_item {
    margin: 0 10px 10px 10px;
}
